body {
    margin: 0;
    padding: 0;    
    background: #000;
}

#c, #o /*#h,*/ {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    box-sizing: border-box;
}

#o /*#h,*/ {
    color: #fff;
    background: rgba(0, 0, 0, .5);
    opacity: 0;
    transition: opacity .5s;
    text-align: center;
    font: 9vh fantasy;
    padding-top: 40vh; 
}
/*
#h {
    padding: 9vh;    
    font: 15px fantasy;
}
*/
